<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
  <!-- STRINGS DE CONEXÕES COM BANCO DE DADOS, BASTA SUBSTITUIR PELOS DADOS DO BANCO QUE VAI UTILIZAR -->
  <connectionStrings>
    <add name="HappyFitnessModel" connectionString="Data Source=happyfitnessapp.database.windows.net; Database=happyFitnessApp; User=graci; Password=Teste123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <!--AQUI VOCÊS TROCAM TUDO QUE TEM O NOME DO MEU PROJETO PELO DE VOCÊS, IMAPNAT É A INTERFACE -->
      <service name="MapNat.services.MapNat">
        <endpoint address="Json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="MapNat.services.IMapNat"/>
        <endpoint address="Soap" binding="basicHttpBinding" contract="MapNat.services.IMapNat"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="200000000"/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>